<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de inicio de la ferretería</title>
    <link rel="stylesheet" href="states/style.css">
</head>
<body>
    <h1>Bienvenido a la ferretería "El tornillo feliz"</h1>
    <h2>Registro de Usuario</h2>
    <form id="registroForm" action="/registro" method="post">
        <label for="nombre">Nombre:</label><br>
        <input type="text" id="nombre" name="nombre" required><br>
        <label for="email">Correo electrónico:</label><br>
        <input type="email" id="email" name="email" required><br>
        <label for="contraseña">Contraseña:</label><br>
        <input type="password" id="contraseña" name="contraseña" required><br>
        <input type="submit" value="Registrarse">
    </form>

    <script>
        document.getElementById("registroForm").addEventListener("submit", function(event) {
            event.preventDefault(); // Evitar el envío del formulario por defecto
            var nombre = document.getElementById("nombre").value;
            var email = document.getElementById("email").value;
            var contraseña = document.getElementById("contraseña").value;

            // Realizar una solicitud AJAX al servidor para registrar el usuario
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/registro", true);
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    alert("Usuario registrado con éxito.");
                    // Redireccionar a otra página si es necesario
                    window.location.href = "/"; // Redireccionar a la página principal
                }
            };
            var data = "nombre=" + encodeURIComponent(nombre) + "&email=" + encodeURIComponent(email) + "&contraseña=" + encodeURIComponent(contraseña);
            xhr.send(data);
        });
    </script>
</body>
</html>
